<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library.</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>391245678388-8dc69l823s4hjbqs8gleha5m52qrmrvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391245678388-8dc69l823s4hjbqs8gleha5m52qrmrvp</string>
	<key>API_KEY</key>
	<string>AIzaSyBpGHjHuSuBplgR0IMN3j3Kb2chSoKgAMU</string>
	<key>GCM_SENDER_ID</key>
	<string>391245678388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radiusense.gameofchats</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-5dc27</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-5dc27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:391245678388:ios:b5e95cc30cab129d</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-5dc27.firebaseio.com</string>
</dict>
</plist>
